.comment-wrapper {
  margin-bottom: 10px;

  .comment {
    padding  : 5px;
    font-size: 15px;

    @include e(child) {
      margin-left: 15px;
      border-left: 4px solid rgb(224, 224, 224);
      transition : all .1s ease-in-out;

      &:hover {
        border-left: 4px solid $primary-color;
      }
    }

    @include e(by) {
      font-weight: 500;
    }

    @include e(text) {
      margin-left: 8px;
      margin-top : 5px;
    }
  }
}